# Exploratory Data Analysis With SQLite

## INTRODUCE DATABASE
In this project, we'll work with data from the [CIA World Factbook](https://www.cia.gov/the-world-factbook/), a compendium of statistics about all of the countries on Earth. The Factbook contains demographic information like the following:
- **population:** the global population.
- **population_growth:** the annual population growth rate, as a percentage.
- **area:** the total land and water area.

[Download database here](https://dsserver-prod-resources-1.s3.amazonaws.com/257/factbook.db)

## 1.Load Database

In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

In [2]:
%%sql
SELECT *
  FROM sqlite_master
 WHERE type='table';

Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

## 2.Overview of The Data

In [3]:
%%sql
SELECT *
FROM facts
LIMIT 5;

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

- **name**: the name of the country.
- **area**: the country's total area (both land and water).
- **area_land**: the country's land area in square kilometers.
- **area_water**: the country's waterarea in square kilometers.
- **population**: the country's population.
- **population_growth**: the country's population growth as a percentage.
- **birth_rate**: the country's birth rate, or the number of - births per year per 1,000 people.
- **death_rate**: the country's death rate, or the number of death per year per 1,000 people.

## 3.Summary Statistics

### 3.1.Which country has the highest population? And Population Growth ?

In [4]:
%%sql
SELECT MIN(population) AS "Min Population",
        MAX(population) AS "Max Population",
        MIN(population_growth) AS "Min Population Growth",
        MAX(population_growth) AS "Max Population Growth"
FROM facts

Done.

[(0, 7256490011, 0.0, 4.02)]

A few things stick out from the summary statistics::
 - There is a country population ~ 0
 - There is a country population ~ 7.2 bilion

In [5]:
%%sql
SELECT name, population, population_growth
FROM facts
WHERE population == (SELECT MAX(population) FROM facts)
        OR population_growth == (SELECT MAX(population_growth) FROM facts)
        OR population == (SELECT MIN(population) FROM facts)

Done.

[('South Sudan', 12042910, 4.02),
 ('Antarctica', 0, None),
 ('World', 7256490011, 1.08)]

There are two countries that have special values:
- **Antarctica:** According to Wikipedia, Antarctica has no permanent inhabitants. It seems like the table contains a row for Antarctica, which explains the population of 0
- **World:** the row contains the whole world, which explains the maximum population of over 7.2 billion we found earlier

> ***We should calculate the summary statistics we calculated earlier while excluding the row for the whole world.***

In [6]:
%%sql
SELECT  CASE
        WHEN population == (SELECT MAX(population) 
                                   FROM facts
                                   WHERE name != 'World') THEN "The Highest Population: " || name
        WHEN population_growth == (SELECT MAX(population_growth) 
                                   FROM facts
                                   WHERE name != 'World') THEN "The Highest Population Growth: "|| name 
        ELSE NULL
        END AS 'COUNTRY', population, population_growth
FROM facts
ORDER BY COUNTRY DESC
LIMIT 2

Done.

[('The Highest Population: China', 1367485388, 0.45),
 ('The Highest Population Growth: South Sudan', 12042910, 4.02)]

- **South Sudan** has the highest population growth
- **China** has the highest population

### 3.2.Which countries have the highest ratios of water to land?

In [7]:
%%sql
SELECT  name , area_water, area_land, MAX(ROUND(CAST(area_water AS FLOAT)/area_land,2)) AS 'ratios_water_to_land'
FROM facts

Done.

[('British Indian Ocean Territory', 54340, 60, 905.67)]

**British Indian Ocean Territory** has the highest ratios of water to land

### 3.3.Which countries have more water than land?

In [8]:
%%sql
SELECT name, area_water, area_land
FROM facts
WHERE area_water > area_land 
    OR (area_water NOT NULL AND area_land IS NULL)
ORDER BY area_water DESC

Done.

[('Ethiopia', 104300, None),
 ('British Indian Ocean Territory', 54340, 60),
 ('Virgin Islands', 1564, 346)]

There are three countries that have more water than land are **Ethiopia**, **British Indian Ocean Territory**, and **Virgin Islands**.

### 3.4.Which countries will add the most people to their populations next year?

In [9]:
%%sql
SELECT name, migration_rate 
FROM facts
WHERE migration_rate == (SELECT MAX(migration_rate)
                         FROM facts
                         WHERE name != 'World')

Done.

[('Qatar', 22.39)]

With migration rate ~ 22.39 (highest), **Qatar** will add the most people to their populations next year

### 3.5.Which countries have a higher death rate than birth rate?

In [10]:
%%sql
SELECT name, death_rate,  birth_rate
FROM facts
WHERE death_rate > birth_rate AND name != 'World'
ORDER BY death_rate

Done.

[('Monaco', 9.24, 6.65),
 ('Austria', 9.42, 9.41),
 ('Japan', 9.51, 7.93),
 ('Saint Pierre and Miquelon', 9.72, 7.42),
 ('Bosnia and Herzegovina', 9.75, 8.87),
 ('Italy', 10.19, 8.74),
 ('Poland', 10.19, 9.74),
 ('Czech Republic', 10.34, 9.63),
 ('Portugal', 11.02, 9.27),
 ('Greece', 11.09, 8.66),
 ('Slovenia', 11.37, 8.42),
 ('Germany', 11.42, 8.47),
 ('Romania', 11.9, 9.14),
 ('Croatia', 12.18, 9.45),
 ('Estonia', 12.4, 10.51),
 ('Moldova', 12.59, 12.0),
 ('Hungary', 12.73, 9.16),
 ('Belarus', 13.36, 10.7),
 ('Serbia', 13.66, 9.08),
 ('Russia', 13.69, 11.6),
 ('Lithuania', 14.27, 10.1),
 ('Latvia', 14.31, 10.0),
 ('Bulgaria', 14.44, 8.92),
 ('Ukraine', 14.46, 10.72)]


## 4.Finding Densely Populated Countries

### 4.1.The Densely Populated Countries have:
- **Above** average values for **population**.
- **Below** average values for **area**.

In [11]:
%%sql
SELECT ROUND(AVG(population)) AS 'Average Population', ROUND(AVG(area)) AS 'Average Area'
FROM facts
WHERE name != 'World'

Done.

[(32242667.0, 555094.0)]

In [12]:
%%sql
SELECT name, population, area
FROM facts
WHERE population > (SELECT AVG(population)
                   FROM facts
                   WHERE name != 'World')
AND  area < (SELECT AVG(area)
                   FROM facts
                   WHERE name != 'World')

Done.

[('Bangladesh', 168957745, 148460),
 ('Germany', 80854408, 357022),
 ('Iraq', 37056169, 438317),
 ('Italy', 61855120, 301340),
 ('Japan', 126919659, 377915),
 ('Korea, South', 49115196, 99720),
 ('Morocco', 33322699, 446550),
 ('Philippines', 100998376, 300000),
 ('Poland', 38562189, 312685),
 ('Spain', 48146134, 505370),
 ('Thailand', 67976405, 513120),
 ('Uganda', 37101745, 241038),
 ('United Kingdom', 64088222, 243610),
 ('Vietnam', 94348835, 331210)]

### 4.2.Which countries have the highest population/area ratio?

In [13]:
%%sql
SELECT name, population, area, ROUND(CAST(population AS FLOAT)/area,2) AS Population_Density
FROM facts
WHERE area NOT NULL AND population NOT NULL
        AND area != 0 AND population != 0
ORDER BY Population_Density DESC;

Done.

[('Macau', 592731, 28, 21168.96),
 ('Monaco', 30535, 2, 15267.5),
 ('Singapore', 5674472, 697, 8141.28),
 ('Hong Kong', 7141106, 1108, 6445.04),
 ('Gaza Strip', 1869055, 360, 5191.82),
 ('Gibraltar', 29258, 6, 4876.33),
 ('Bahrain', 1346613, 760, 1771.86),
 ('Maldives', 393253, 298, 1319.64),
 ('Malta', 413965, 316, 1310.02),
 ('Bermuda', 70196, 54, 1299.93),
 ('Sint Maarten', 39689, 34, 1167.32),
 ('Bangladesh', 168957745, 148460, 1138.07),
 ('Guernsey', 66080, 78, 847.18),
 ('Jersey', 97294, 116, 838.74),
 ('Barbados', 290604, 430, 675.82),
 ('Mauritius', 1339827, 2040, 656.78),
 ('Taiwan', 23415126, 35980, 650.78),
 ('Aruba', 112162, 180, 623.12),
 ('Lebanon', 6184701, 10400, 594.68),
 ('Saint Martin', 31754, 54, 588.04),
 ('San Marino', 33020, 61, 541.31),
 ('Korea, South', 49115196, 99720, 492.53),
 ('Rwanda', 12661733, 26338, 480.74),
 ('West Bank', 2785366, 5860, 475.32),
 ('Nauru', 9540, 21, 454.29),
 ('Tuvalu', 10869, 26, 418.04),
 ('Netherlands', 16947904, 41543, 407.96),
 ('Marshall Islands', 72191, 181, 398.85),
 ('Israel', 8049314, 20770, 387.55),
 ('Burundi', 10742276, 27830, 386.0),
 ('India', 1251695584, 3287263, 380.77),
 ('Belgium', 11323973, 30528, 370.94),
 ('Haiti', 10110019, 27750, 364.33),
 ('Comoros', 780971, 2235, 349.43),
 ('Philippines', 100998376, 300000, 336.66),
 ('Sri Lanka', 22053488, 65610, 336.13),
 ('Japan', 126919659, 377915, 335.84),
 ('Curacao', 148406, 444, 334.25),
 ('Grenada', 110694, 344, 321.78),
 ('Guam', 161785, 544, 297.4),
 ('El Salvador', 6141350, 21041, 291.88),
 ('Vietnam', 94348835, 331210, 284.86),
 ('American Samoa', 54343, 199, 273.08),
 ('Jamaica', 2950210, 10991, 268.42),
 ('Saint Lucia', 163922, 616, 266.11),
 ('Saint Vincent and the Grenadines', 102627, 389, 263.82),
 ('United Kingdom', 64088222, 243610, 263.08),
 ('Puerto Rico', 3598357, 13791, 260.92),
 ('Pakistan', 199085847, 796095, 250.08),
 ('Trinidad and Tobago', 1222363, 5128, 238.37),
 ('Liechtenstein', 37624, 160, 235.15),
 ('Germany', 80854408, 357022, 226.47),
 ('British Virgin Islands', 33454, 151, 221.55),
 ('Luxembourg', 570252, 2586, 220.52),
 ('Dominican Republic', 10478756, 48670, 215.3),
 ('Nepal', 31551305, 147181, 214.37),
 ('Cayman Islands', 56092, 264, 212.47),
 ('Antigua and Barbuda', 92436, 442, 209.13),
 ('Korea, North', 24983205, 120538, 207.26),
 ('Italy', 61855120, 301340, 205.27),
 ('Seychelles', 92430, 455, 203.14),
 ('Sao Tome and Principe', 194006, 964, 201.25),
 ('Saint Kitts and Nevis', 51936, 261, 198.99),
 ('Switzerland', 8121830, 41277, 196.76),
 ('Nigeria', 181562056, 923768, 196.55),
 ('Qatar', 2194817, 11586, 189.44),
 ('Andorra', 85580, 468, 182.86),
 ('Anguilla', 16418, 91, 180.42),
 ('Gambia, The', 1967709, 11300, 174.13),
 ('Kosovo', 1870981, 10887, 171.85),
 ('Kuwait', 2788534, 17818, 156.5),
 ('Uganda', 37101745, 241038, 153.92),
 ('Isle of Man', 87545, 572, 153.05),
 ('Malawi', 17964697, 118484, 151.62),
 ('Micronesia, Federated States of', 105216, 702, 149.88),
 ('Tonga', 106501, 747, 142.57),
 ('China', 1367485388, 9596960, 142.49),
 ('Guatemala', 14918999, 108889, 137.01),
 ('Cabo Verde', 545993, 4033, 135.38),
 ('Czech Republic', 10644842, 78867, 134.97),
 ('Indonesia', 255993674, 1904569, 134.41),
 ('Togo', 7552318, 56785, 133.0),
 ('Thailand', 67976405, 513120, 132.48),
 ('Kiribati', 105711, 811, 130.35),
 ('Denmark', 5581503, 43094, 129.52),
 ('Cyprus', 1189197, 9251, 128.55),
 ('Akrotiri', 15700, 123, 127.64),
 ('Poland', 38562189, 312685, 123.33),
 ('Dhekelia', 15700, 130, 120.77),
 ('European Union', 513949445, 4324782, 118.84),
 ('Portugal', 10825309, 92090, 117.55),
 ('Azerbaijan', 9780780, 86600, 112.94),
 ('Northern Mariana Islands', 52344, 464, 112.81),
 ('Tokelau', 1337, 12, 111.42),
 ('Slovakia', 5445027, 49035, 111.04),
 ('Ghana', 26327649, 238533, 110.37),
 ('Wallis and Futuna', 15613, 142, 109.95),
 ('Hungary', 9897541, 93028, 106.39),
 ('Albania', 3029278, 28748, 105.37),
 ('Moldova', 3546847, 33851, 104.78),
 ('France', 66553766, 643801, 103.38),
 ('Austria', 8665550, 83871, 103.32),
 ('Armenia', 3056382, 29743, 102.76),
 ('Turkey', 79414269, 783562, 101.35),
 ('Cuba', 11031433, 110860, 99.51),
 ('Dominica', 73607, 751, 98.01),
 ('Slovenia', 1983412, 20273, 97.84),
 ('Spain', 48146134, 505370, 95.27),
 ('Costa Rica', 4814144, 51100, 94.21),
 ('Benin', 10448647, 112622, 92.78),
 ('Serbia', 7176794, 77474, 92.63),
 ('Malaysia', 30513848, 329847, 92.51),
 ('Syria', 17064854, 185180, 92.15),
 ('Romania', 21666350, 238391, 90.89),
 ('Jordan', 8117564, 89342, 90.86),
 ('Ethiopia', 99465819, 1104300, 90.07),
 ('Egypt', 88487396, 1001450, 88.36),
 ('Cambodia', 15708756, 181035, 86.77),
 ('Iraq', 37056169, 438317, 84.54),
 ('Burma', 56320206, 676578, 83.24),
 ('Timor-Leste', 1231116, 14874, 82.77),
 ('Swaziland', 1435613, 17364, 82.68),
 ('Sierra Leone', 5879098, 71740, 81.95),
 ('Greece', 10775643, 131957, 81.66),
 ('Macedonia', 2096015, 25713, 81.52),
 ('Kenya', 45925301, 580367, 79.13),
 ('Croatia', 4464844, 56594, 78.89),
 ('Honduras', 8746673, 112090, 78.03),
 ('Bosnia and Herzegovina', 3867055, 51197, 75.53),
 ('Morocco', 33322699, 446550, 74.62),
 ('Brunei', 429646, 5765, 74.53),
 ('Ukraine', 44429471, 603550, 73.61),
 ("Cote d'Ivoire", 23295302, 322463, 72.24),
 ('Senegal', 13975834, 196722, 71.04),
 ('Georgia', 4931226, 69700, 70.75),
 ('Samoa', 197773, 2831, 69.86),
 ('Ireland', 4892305, 70273, 69.62),
 ('United Arab Emirates', 5779760, 83600, 69.14),
 ('Burkina Faso', 18931686, 274200, 69.04),
 ('French Polynesia', 282703, 4167, 67.84),
 ('Tunisia', 11037225, 163610, 67.46),
 ('Uzbekistan', 29199942, 447400, 65.27),
 ('Bulgaria', 7186893, 110879, 64.82),
 ('Lesotho', 1947701, 30355, 64.16),
 ('Mexico', 121736809, 1964375, 61.97),
 ('Norfolk Island', 2210, 36, 61.39),
 ('Tajikistan', 8191958, 144100, 56.85),
 ('Ecuador', 15868396, 283561, 55.96),
 ('Eritrea', 6527689, 117600, 55.51),
 ('Virgin Islands', 103574, 1910, 54.23),
 ('Tanzania', 51045882, 947300, 53.89),
 ('Turks and Caicos Islands', 50280, 948, 53.04),
 ('Montserrat', 5241, 102, 51.38),
 ('Yemen', 26737317, 527968, 50.64),
 ('Afghanistan', 32564342, 652230, 49.93),
 ('Cameroon', 23739218, 475440, 49.93),
 ('Fiji', 909389, 18274, 49.76),
 ('Iran', 81824270, 1648195, 49.64),
 ('Panama', 3657024, 75420, 48.49),
 ('Guinea', 11780162, 245857, 47.91),
 ('Guinea-Bissau', 1726170, 36125, 47.78),
 ('Montenegro', 647073, 13812, 46.85),
 ('Palau', 21265, 459, 46.33),
 ('Belarus', 9589689, 207600, 46.19),
 ('Nicaragua', 5907881, 130370, 45.32),
 ('Lithuania', 2884433, 65300, 44.17),
 ('South Africa', 53675563, 1219090, 44.03),
 ('Cocos (Keeling) Islands', 596, 14, 42.57),
 ('Cook Islands', 9838, 236, 41.69),
 ('Colombia', 46736728, 1138910, 41.04),
 ('Madagascar', 23812681, 587041, 40.56),
 ('Liberia', 4195666, 111369, 37.67),
 ('Zimbabwe', 14229541, 390757, 36.42),
 ('Faroe Islands', 50196, 1393, 36.03),
 ('Djibouti', 828324, 23200, 35.7),
 ('Congo, Democratic Republic of the', 79375136, 2344858, 33.85),
 ('United States', 321368864, 9826675, 32.7),
 ('Venezuela', 29275460, 912050, 32.1),
 ('Mozambique', 25303113, 799380, 31.65),
 ('Latvia', 1986705, 64589, 30.76),
 ('Laos', 6911544, 236800, 29.19),
 ('Kyrgyzstan', 5664939, 199951, 28.33),
 ('Estonia', 1265420, 45228, 27.98),
 ('Equatorial Guinea', 740743, 28051, 26.41),
 ('Saint Helena, Ascension, and Tristan da Cunha', 7795, 308, 25.31),
 ('Brazil', 204259812, 8515770, 23.99),
 ('Peru', 30444999, 1285216, 23.69),
 ('Bahamas, The', 324597, 13880, 23.39),
 ('Saint Pierre and Miquelon', 5657, 242, 23.38),
 ('Chile', 17508260, 756102, 23.16),
 ('Vanuatu', 272264, 12189, 22.34),
 ('Sweden', 9801616, 450295, 21.77),
 ('Solomon Islands', 622469, 28896, 21.54),
 ('Zambia', 15066266, 752618, 20.02),
 ('Sudan', 36108853, 1861484, 19.4),
 ('Bhutan', 741919, 38394, 19.32),
 ('Uruguay', 3341893, 176215, 18.96),
 ('South Sudan', 12042910, 644329, 18.69),
 ('Paraguay', 6783272, 406752, 16.68),
 ('Somalia', 10616380, 637657, 16.65),
 ('Algeria', 39542166, 2381741, 16.6),
 ('New Zealand', 4438393, 267710, 16.58),
 ('Finland', 5476922, 338145, 16.2),
 ('Norway', 5207689, 323802, 16.08),
 ('Angola', 19625353, 1246700, 15.74),
 ('Argentina', 43431886, 2780400, 15.62),
 ('Belize', 347369, 22966, 15.13),
 ('New Caledonia', 271615, 18575, 14.62),
 ('Papua New Guinea', 6672429, 462840, 14.42),
 ('Congo, Republic of the', 4755097, 342000, 13.9),
 ('Mali', 16955536, 1240192, 13.67),
 ('Saudi Arabia', 27752316, 2149690, 12.91),
 ('Christmas Island', 1530, 135, 11.33),
 ('Turkmenistan', 5231422, 488100, 10.72),
 ('Oman', 3286936, 309500, 10.62),
 ('Bolivia', 10800882, 1098581, 9.83),
 ('Central African Republic', 5391539, 622984, 8.65),
 ('Russia', 142423773, 17098242, 8.33),
 ('Kazakhstan', 18157122, 2724900, 6.66),
 ('Gabon', 1705336, 267667, 6.37),
 ('Niue', 1190, 260, 4.58),
 ('Botswana', 2182719, 581730, 3.75),
 ('Libya', 6411776, 1759540, 3.64),
 ('Suriname', 579633, 163820, 3.54),
 ('Canada', 35099836, 9984670, 3.52),
 ('Mauritania', 3596702, 1030700, 3.49),
 ('Guyana', 735222, 214969, 3.42),
 ('Iceland', 331918, 103000, 3.22),
 ('Australia', 22751014, 7741220, 2.94),
 ('Namibia', 2212307, 824292, 2.68),
 ('Western Sahara', 570866, 266000, 2.15),
 ('Mongolia', 2992908, 1564116, 1.91),
 ('Pitcairn Islands', 48, 47, 1.02),
 ('Falkland Islands (Islas Malvinas)', 3361, 12173, 0.28),
 ('Greenland', 57733, 2166086, 0.03),
 ('Svalbard', 1872, 62045, 0.03)]

**THERE IS A DIFFERENCE BETWEEN 4.1 AND 4.2**

## REFERENCES
- [Dataquest.io](https://github.com/dataquestio/solutions/blob/master/Mission257Solutions.ipynb)